/* fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* body style  */
body{
    margin: 0;
}

/* header style  */

header{
    background: #562EFF;
    width: 100%;
    height: 94px;
    display: flex;
    justify-content: space-between;
}
.logo-name{
    display: flex;
    position: relative;
    left: 254px;
}
.brand-name{
    padding-left: 16px;
}
.logo img{
    width: 40px;
    height: 51px;
    padding-top: 26px;
    padding-bottom: 17px;
}
.header-pagebar{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    position: relative;
    right: 289px;
}
.header-pagebar h3{
    padding-top: 20px;
    padding-bottom: 5px;
    margin-left: 36px;
}
.header-pagebar img{
    padding-top: 23px;
    padding-bottom: 20px;
    margin-left: 36px;
}


/* common style or utilitis */

body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container{
    background-color: #FFFFFF;
    width: 870px;
    padding: 30px 30px;
    margin-top: 21px;
    border-radius: 5px;
}
.bottom-margin{
    margin-bottom: 21px;
}

/* top players style  */

.top-player{
    margin-bottom: 30px;
}
.section-title{
    color: #562EFF;
    font-size: 24px;
    margin-top: 3px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 30px;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    width: 56px;
    height: 56px;
}
.players-name{
    margin-left: 16px;
    font-size: 18px;
}
hr{
    border: 1px solid #D1D1D1;
    margin-bottom: 27px;
}

/* top blog styles  */

.blogs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 26px;
}
.blog{
    display: flex;
}
.blog .thumbnail img{
    width: 177px;
    height: 117px;
}
.blog-info{
    margin-left: 16px;
}
.blog-title{
    font-size: 20px;
}
.blog-author{
    color: #9F9F9F;
    font-size: 16px;
}
.blog-author a{
    text-decoration: none;
    color: #562EFF;
    font-size: 16px;
}

/* courses style  */

.courses{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    grid-column-gap: 24px;
}
.course{
    width: 252.42px;
    height: 269.79px;
    padding-left: 12px;
    padding-right: 14px;
}
.course .course-banner img{
    width: 224px;
    height: 104px;
}
.course-info{
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.fa-star{
    font-size: 12px;
}
.fa-star.filled{
    color: #FFC014;
}
.fa-star.empty{
    color: #AEAEAE;;
}
.course-duration{
    background: #FFE4E8;
    border-radius: 14.6913px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right:5.34px;
    padding-left:5.34px;
}
.course-duration .fa-clock,span{
    color: #FF4A60;
}

/* ==================================media queries===========================================  */

/* mobile device  */

@media only screen and (max-width:688px) {
    .container{
        width: 100%;
    }
  .players , .blogs,.courses{
     grid-template-columns: repeat(1,1fr);
  } 
  .player,.blogs{
      flex-direction: column;
  }
}

/* tablet devices  */

@media only screen and (min-width:688px) and (max-width:992px) {
    .container{
        width: 100%;
    }
    .players,.courses{
        grid-template-columns: repeat(2,1fr);
    }
}